* {
  box-sizing: border-box;
}

#mangas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  border: ridge #32b0e0;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.title {
  text-align: center;
  background-color: #000000f5;
  margin: 0;
  padding: 15px;
  border-bottom: solid #000;
  color: #32b0e0;
  text-shadow: 0px 0px 25px #FFF;
}

strong {
  text-shadow: 0px 0px 25px #32b0e0;
}

.body {
  display: flex;
  text-align: justify;
}

.details {
  padding-left: 5px;
  color: #FFF;
  background-color: #000000de;
}

.description {
  overflow: scroll;
  height: 245px;
  padding-right: 10px;
}

.description p {
  line-height: 25px;
  margin-top: 10px;
}
