* {
  box-sizing: border-box;
}

#mangas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: #000000de; */
}

.container {
  border: ridge #32b0e0;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.card {
  /* border: solid #3b2afe; */
  /* width: 700px; */
}

.title {
  text-align: center;
  background-color: #000000f5;
  margin: 0;
  padding: 15px;
  border-bottom: solid #000;
  color: #32b0e0;
  text-shadow: 0px 0px 25px #FFF;
}

.body {
  display: flex;
  /* border: solid red; */
  text-align: justify;
}

.details {
  padding-left: 5px;
  color: #FFF;
  background-color: #000000de;
}

.description {
  /* border: solid #2eaa96; */
  overflow: scroll;
  height: 245px;
  /* width: 430px; */
  /* margin-top: -13px; */
  padding-right: 10px;
}

.description p {
  line-height: 25px;
  margin-top: 10px;
}
